@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>